/***** UNIVERSAL CSS *****/

body{
margin:0;
font-family:'Lora';
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
position:center center;
background-color:#d8d8d8;
}

/** Logo **/
.cloudlogo{
position:fixed;
width:250px;
height:125px;
top:0px;
z-index:100;
}

/**Nav CSS**/

#menuwrapper{
position:fixed;
width:100%;
height:45px;
text-align:center;
background-color:#000;
z-index:99;
}

.nav ul li{
position:relative;
display:inline-block;
top:-15px;
}

.nav ul li a{
display:inline-block;
padding:10px;
color:#fff;
font-size:20px;
text-decoration:none;
}

.nav a:hover{
background-color:#53963f;
}

.active{
background-color:#53963f;
line-height:15px;
}

/** LinkedIn Logo CSS **/

#social{
position:relative;
top:-70px;
width:35px;
height:35px;
right:5px;
z-index:97;
float:right;
}

#social .link{
width:100%;
height:100%;
}

#logo{
position: relative;
}


/** Banner CSS **/
#webwrapper{
width:1040px;
height:1040px;
margin:auto;
background-color: #fff;
}

.bannerimg{
height:500px;
width:100%;
}

h3{
font-family:lora;
text-align:center;
font-weight:normal;
color:#fff;
margin:auto;
font-size:30px;
padding-top:5px;
background-color:#5da847}

h3:hover{
opacity:0.4;}

h4{
font-family:lora;
text-align:center;
font-weight:normal;
color:#fff;
margin:auto;
font-size:20px;
padding-top:5px;
background-color:#5da847;
border-bottom:3px solid black;
border-radius:5px;}

h4:hover{
opacity:0.8;}

/*CSS for the email in Hours of Operations*/
.email h4:hover{
opacity:1;}

a{
text-decoration:none;
color: #5da847;
}

p{
font-family:lora;
font-weight:normal;
color:black;
margin:auto;
font-size:17px;
padding-top:5px;
}

/** Column Image **/
.colimg{
-webkit-column-count:1;
-moz-column-count:1;
column-count:1;
position:relative;
width:100%;
height:150px;
border-radius: 30px;
padding-top:5px;
margin:auto;
}

 /** Footer CSS **/
#footer p{
position:relative;
color:#fff;
text-align:right;
width:100%;
background-color:#000;
height:30px;
border-radius: 0px 0px 10px 10px;
}

/***** UNIVERSAL CSS ENDS *****/

/***** Index CCS *****/



/** Column CSS **/
#column{
position:relative;
top:10px;
height:510px;
}

#column .col1{
-webkit-column-count:1;
-moz-column-count:1;
column-count:1;
width:30%;
height:auto;
overflow:auto;
display:table-cell;
text-align:left;
position:absolute;
left:2%;
}

#column .col2{
-webkit-column-count:1;
-moz-column-count:1;
column-count:1;
width:30%;
height:auto;
overflow:auto;
display:table-cell;
text-align:left;
position:absolute;
left:35%;
}

#column .rsidebar{
-webkit-column-count:1;
-moz-column-count:1;
column-count:1;
width:30%;
height:auto;
overflow:auto;
display:table-cell;
position:absolute;
left:68%;
text-align:center;
}
#companyname{
position:absolute;
margin-top:-300px;
margin-left:280px;
width:500px;
height:auto;
background-color:#53963f;
Text-align:center;
border-radius:5px;
}

.homename{
font-size:35px;
font-family:'lora';
color:white;}
/***** Index CCS ENDS *****/

/***** Business and Home Cleaning CSS *****/


#BusinessHome{
position:relative;
top:10px;
height:510px;
width: 1040px;
}

#BusinessHome .col1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  width: 510px;
  height: auto;
  overflow: auto;
  display: table-cell;
  text-align: left;
  position: absolute;
  left: 5px;
}

#BusinessHome .rsidebar {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  width: 510px;
  height: 450px;
  overflow: auto;
  display: table-cell;
  text-align: center;
  position: absolute;
  right: 5px;
}

/***** Business and Home CSS Ends *****/

/***** Contact CSS *****/

form {
position:relative;
border: 2px solid;
width: 50%;
text-align: center;
margin: auto;top:100px;
background-color: #53963f;
border-radius: 25px;
}

#fname {
  margin: 5px;
}

#lname {
  margin: 5px;
}

#organization {
  margin: 15px;
}

#phonenumber {
  margin: 15px;
}

#typeofservice {
  margin: 15px;
}

#email {
  margin: 15px;
}

#button {
  margin: 15px;
}

/***** Contact CSS End *****/