/* CSS Document */

body {
margin:0;
font-family:'Lora';
}

/*************************
navigator CSS
**************************/

/*this centers the menu text */

#menuwrapper{
width:100%;
height:45px;
text-align:center;
background-color: #000;
font-family:'Lora';
}

.nav {
width:100%; 
background-color: #000;
display:inline;
}

.nav ul {
 display:inline;
 list-style: none;
}
/* displays the menu text inline */

.nav ul li {
  display: inline-block;
}
/* CCS for the text of the menu */

.nav ul li a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

/* background color changes on hover*/

.nav a:hover {
  background-color: #53963f;
  line-height: 30px;
  color: white;
}
/* specifies active tab */

.nav a#active {
  background-color: #53963f;
  line-height: 30px;
  color: white;
}

#banner{
width:100%;
height:500px;
}

#banner .nyc1 {
  height: 500px;
  width: 100%;
}

.tagline2{
position:relative;
margin:auto;
margin-top:-350px;
width:300px;
height:80px;
background-color:#53963f;
border-radius:5px;
text-align:center;

}
.tagword{
background-color:#5da847;
color:white;
border-radius:5px;
}
h3{
font-family:lora;
text-align:center;
font-weight:normal;
color:white;
margin:auto;
font-size:30px;
padding-top:5px;
background-color:#5da847}

a{
text-decoration:none;}

/* Index.html column CSS */

.cloudlogo{
width:250px;
height:125px;
position: relative;
bottom:589px;
}

#column{
position:relative;
top:280px;
}
#column h3 {
  margin-bottom: 0px;
  text-align: center;
  
}
h4{
font-family:lora;
text-align:center;
font-weight:normal;
color:white;
margin:auto;
font-size:20px;
padding-top:5px;
background-color:#5da847
}
#column .col1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  width: 30%;
  height: 400px;
  overflow: auto;
  display: table-cell;
  text-align: left;
  
  position: absolute;
  left: 2%;
}


#column .col2 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  width: 30%;
  height: 400px;
  overflow: auto;
  display: table-cell;
  text-align: left;
  
  position: absolute;
  left: 35%;
  
}

#column .rsidebar {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  width: 30%;
  height: 400px;
  overflow: auto;
  display: table-cell;
  position: absolute;
  left: 68%;
}

#img1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 100%;
	display:table-cell;
	padding-right:5px;
	padding-top:10px;
	}
#img2 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
	width: 150px;
	height: 150px;
	float: left;
	padding-top:10px;
	border-radius: 100%;
	display:table-cell;
	padding-right:5px;
	}
p{
font-family:lora;
font-weight:normal;
color:black;
margin:auto;
font-size:17px;
padding-top:5px;
}
#column h4{
border-bottom:3px solid black;
border-radius:5px;}

/*Business and Home pages' column CSS*/

#sprinkles {
  position: absolute;
  width: 100%;
}

#sprinkles .col1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  width: 50%;
  height: 450px;
  overflow: auto;
  display: table-cell;
  text-align: left;
  
  position: absolute;
}

#sprinkles .rsidebar {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  width: 50%;
  height: 450px;
  overflow: auto;
  display: table-cell;
  text-align: center;
  
  position: absolute;
  left: 50%;
}

#img1 {
  -webkit-column-count: 1;
  border-radius: 100%;
  display: table-cell;
  float: left;
  height: 150px;
  padding-right: 5px;
  width: 150px;
}

footer {
position:relative;
background-color: #red;
text-align: center;
width: 100%;
color: white;
clear:both;
}

/******************************
Contactus form CSS 
*******************************/
form {
  border: 2px solid;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  background-color: #86f066;
  border-radius: 25px;
}

p {
  font-family: 'Lora', serif;
}
#fname {
  margin: 5px;
}

#lname {
  margin: 5px;
}

#organization {
  margin: 15px;
}

#phonenumber {
  margin: 15px;
}

#typeofservice {
  margin: 15px;
}

#email {
  margin: 15px;
}

#button {
  margin: 15px;
}